@font-face {
    font-family: Orbitron;
    src: url("/Orbitron.ttf");
}

body {
    background-image: url('/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 20px;
}

#clock {
    text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
    color: white;
    font-family: 'Orbitron';
    font-size: 50px;
    width: 350px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}
#clock:hover {
    border: 2px solid red;
}
#sel_hour,#sel_minute{
    background-color: rgb(0, 0, 0,0.0);
    color: red;
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid white;
    text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
#b_start {
    background-color: rgb(0, 0, 0,0.2);
    color: white;
    margin-top: 10px;
    width: 134px;
    border-radius: 5px;
    border: 2px solid white;
}
#b_start:hover {
    border: 2px solid red;
    cursor: pointer;
}